@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

.hero-banner {
  background-image: url("../../images/desktop/image-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 2.5em 1em;
}
@media screen and (max-width: 800px) {
  .hero-banner {
    background-image: url("../../images/mobile/image-header.jpg");
  }
}
.hero-banner__big-title {
  padding-top: 1.5em;
  text-align: center;
  font-size: 70px;
  font-family: "Fraunces", serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 800px) {
  .hero-banner__big-title {
    font-size: 40px;
    text-align: center;
  }
}
.hero-banner__arrow-down {
  display: flex;
  position: relative;
  top: 14%;
  margin: auto;
  text-align: center;
  transform: translateY(0);
  animation: 1s ease-in-out infinite alternate arrow-down;
}
@keyframes arrow-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  top: 0;
  width: 100%;
  color: white;
}

.nav-menu {
  min-width: 40%;
}
.nav-menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-menu__items {
  padding: 1em 1.5em;
  position: relative;
  cursor: pointer;
}
.nav-menu__items--hilighted {
  font-family: "Fraunces", serif;
  color: #23303e;
  text-transform: uppercase;
  background-color: white;
  border-radius: 2em;
}
.nav-menu__items--hilighted:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  transition: ease-in-out 0.25s;
}

.nav-menu__items--underline::after {
  content: "";
  border-bottom: solid 4px white;
  position: absolute;
  bottom: 15px;
  left: 21%;
  width: 60%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}
.nav-menu__items--underline:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, calc(200vh/3));
  background-color: #fefaf8;
}
@media screen and (max-width: 800px) {
  .grid {
    grid-template-rows: 40vh 60vh 40vh 60vh 100vh 100vh;
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.grid__text {
  margin: auto;
  width: 62%;
}
@media screen and (max-width: 800px) {
  .grid__text {
    width: 90%;
  }
}
.grid__text h1 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 800;
  color: #23303e;
  padding-bottom: 0.5em;
}
@media screen and (max-width: 800px) {
  .grid__text h1 {
    font-size: 30px;
  }
}
.grid__text p {
  color: #818498;
  line-height: 1.5em;
  padding-bottom: 2.5em;
}
.grid__button {
  position: relative;
  z-index: 2;
  font-weight: 800;
  font-family: "Fraunces", serif;
  text-decoration: none;
  color: #23303e;
  text-transform: uppercase;
  font-size: 19px;
}
.grid__button--red::after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 150px;
  height: 10px;
  border-radius: 6px;
  bottom: -2px;
  right: 50%;
  transform: translateX(50%);
  background-color: rgba(254, 120, 103, 0.2);
  transition: ease-in-out 200ms;
}
.grid__button--yellow::after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 150px;
  height: 10px;
  border-radius: 6px;
  bottom: -2px;
  right: 50%;
  transform: translateX(50%);
  background-color: rgba(250, 212, 0, 0.2);
  transition: ease-in-out 200ms;
}
.grid__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.grid__card {
  text-align: center;
  position: relative;
  background-position: top center;
}
.grid__card h2 {
  font-weight: 800;
  font-family: "Fraunces", serif;
  padding-bottom: 1.2em;
}
.grid__card p {
  padding-bottom: 2em;
  line-height: 1.5em;
}
.grid__card span {
  width: 55%;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}
@media screen and (max-width: 800px) {
  .grid__card span {
    width: 100%;
    padding: 2em 0.5em;
  }
}
.grid__card--1 {
  background-image: url("../../images/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #25564b;
}
@media screen and (max-width: 800px) {
  .grid__card--1 {
    background-image: url("../../images/mobile/image-graphic-design.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}
.grid__card--2 {
  background-image: url("../../images/desktop/image-photography.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #19536b;
}
@media screen and (max-width: 800px) {
  .grid__card--2 {
    background-image: url("../../images/mobile/image-photography.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
}

.grid__button--red:hover::after {
  background: #fe7867;
}

.grid__button--yellow:hover::after {
  background: #fad400;
}

@media screen and (max-width: 800px) {
  .grid__image--mobile-only {
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.testimonials {
  height: 100vh;
  background-color: #fefaf8;
}
@media screen and (max-width: 800px) {
  .testimonials {
    height: fit-content;
  }
}
.testimonials h1 {
  font-family: "Fraunces", serif;
  color: #a7abae;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  padding-top: 10em;
}
@media screen and (max-width: 800px) {
  .testimonials h1 {
    font-size: 16px;
    padding-top: 4em;
    padding-bottom: 1em;
  }
}
.testimonials p {
  color: #5a636c;
  font-size: 18px;
  line-height: 1.5em;
}
.testimonials h2 {
  font-family: "Fraunces", serif;
  font-size: 18px;
  font-weight: 800;
  color: #23303e;
}
.testimonials h3 {
  font-size: 13px;
  color: #a7abae;
}
.testimonials__cards-container {
  display: flex;
  margin: 0 9em;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .testimonials__cards-container {
    flex-direction: column;
    margin: 0 1em 0em 1em;
    padding-bottom: 2em;
  }
}

.client-card {
  padding: 4em 0.8em;
}
@media screen and (max-width: 800px) {
  .client-card {
    padding: 1em 0.8em;
  }
}
.client-card__image {
  margin-bottom: 2em;
  border-radius: 50%;
  transform: scale(0.5, 0.5);
}
@media screen and (max-width: 800px) {
  .client-card__image {
    margin-bottom: 0;
  }
}
.client-card p {
  padding-bottom: 4em;
}
@media screen and (max-width: 800px) {
  .client-card p {
    padding-bottom: 2em;
  }
}
.client-card h2 {
  padding-bottom: 0.4em;
}

.gallery-container {
  display: flex;
  padding-bottom: 3em;
}
@media screen and (max-width: 800px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 49%);
  }
}
.gallery-container img {
  object-fit: cover;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

footer {
  background: rgba(38, 171, 145, 0.5);
}

.footer {
  height: 30vh;
}
.footer__logo {
  fill: #458c7e;
}
.footer svg {
  display: block;
  margin: 0 auto;
}

.footer__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  max-width: 20%;
  margin: 2em auto;
  color: #458c7e;
}
@media screen and (max-width: 800px) {
  .footer__nav ul {
    max-width: 70%;
  }
}
.footer__nav li {
  position: relative;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.footer__nav li:hover {
  color: white;
}

.footer__nav li::after {
  content: "";
  border-bottom: solid 4px white;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}
.footer__nav li:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
}
@media screen and (max-width: 800px) {
  .footer__social {
    margin-top: 3em;
  }
}
.footer__social a {
  padding: 0 1em;
}
.footer__social--hover path {
  transition: ease-in-out 200ms;
}
.footer__social--hover:hover path {
  fill: white;
}

.nav-menu-responsive__hamburger,
.nav-menu-responsive {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-menu {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .nav-menu-responsive {
    background: #fffbf8;
    color: #818498;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
    width: 75vw;
    height: 40vh;
    z-index: 99;
    transform-origin: top right;
    transform: scale(0, 0);
    transition: transform 0.5s ease-in-out;
  }
  .nav-menu-responsive--open {
    transform: none;
  }
  .nav-menu-responsive__hamburger {
    display: flex;
  }
  .nav-menu-responsive ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .nav-menu-responsive__items {
    margin: 0.8em 0;
    cursor: pointer;
  }

  .hero-banner {
    position: relative;
    overflow-x: hidden;
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .nav-menu-responsive__hamburger {
    display: block;
    position: relative;
    z-index: 100;
    user-select: none;
    cursor: pointer;
  }

  .nav-menu-responsive__items--underline::after {
    content: "";
    display: block;
    border-bottom: solid 4px #818498;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
  }
  .nav-menu-responsive__items--underline:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  @keyframes underline {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

  .nav-menu-responsive__items--hilighted {
    color: black;
    border: solid 4px #fad400;
    padding: 1em 2em;
    border-radius: 2em;
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    font-weight: 800;
    background-color: #fad400;
    font-size: 16px;
    transition: background-color 250ms ease-in-out;
  }
  .nav-menu-responsive__items--hilighted:hover {
    background-color: transparent;
  }

  .nav-menu-responsive::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    height: 0px;
    width: 0px;
    border-style: solid;
    border-width: 30px 30px 0 0;
    border-color: transparent #fffbf8 transparent transparent;
  }
}
.footer__attribution {
  text-align: center;
  font-size: 14px;
  padding: 1em 0;
}
.footer__attribution, .footer__attribution a {
  color: #458c7e;
  transition: color 250ms ease-in-out;
}
.footer__attribution a:hover {
  color: white;
}

/*# sourceMappingURL=style.css.map */
