@use '../utilities/variables' as *;

footer{
    background: adjust-color($color: $footer-bg, $saturation: 30%, $alpha:-0.5%);  
}

.footer{
    height: 30vh;
    &__logo{
        fill: $footer-bg;
    }
    & svg{
        display: block;
        margin: 0 auto;
    }
}

.footer__nav{
    & ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        max-width: 20%;
        margin: 2em auto;
        color: $footer-bg;
    }
    & li{
        position: relative;
        cursor: pointer;
        transition: ease-in-out 200ms;
    }
    & li:hover{
        color: $neutral-color-5;
    }
}

.footer__nav li{
    &::after{
        content:"";
        border-bottom : solid 4px white;
        position: absolute;
        bottom:-5px;
        left:0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: right;
        transition : transform 0.25s;
    }
    &:hover{
        &::after{
            transform-origin: left;
            transform: scaleX(1);
        }
    }

    @keyframes underline {
        from{
            transform : scaleX(0);
        }
        to{
            transform: scaleX(1);
        }
    }
}

.footer__social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
    & a{
        padding : 0 1em;
    }
    &--hover path{
        transition: ease-in-out 200ms;
    }
    &--hover:hover path{
        fill: white;
    }
}