@use '../utilities/variables' as *;

.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    top: 0;
    width: 100%;
    color: $neutral-color-5;
}
