@use '../base/typography' as *;
@use '../utilities/variables' as *;

.testimonials{
    height: 75vh;
    & h1{
        font-family: $title-font;
        color: $neutral-color-4;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 800;
        text-align: center;
        margin-top: 10em;
    }
    & p{
        color: $neutral-color-2;
        font-size: 18px;
        line-height: 1.5em;
    }
    & h2{
        font-family: $title-font;
        font-size: 18px;
        font-weight: 800;
        color: $neutral-color-1;
    }
    & h3{
        font-size: 13px;
        color:$neutral-color-4
    }
    &__cards-container{
        display: flex;
        margin: 0 9em;
        text-align: center;
        justify-content: center;
    }
}