@use '../base/typography' as *;
@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.testimonials{
    height: 100vh;
    background-color: $bg-body;
    @include mobile-only{
        height: auto;
    }
    & h1{
        font-family: $title-font;
        color: $neutral-color-4;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 800;
        text-align: center;
        padding-top: 10em;
        @include mobile-only{
            font-size: 16px;
            padding-top: 4em;
            padding-bottom: 1em;
        }
    }
    & p{
        color: $neutral-color-2;
        font-size: 18px;
        line-height: 1.5em;
    }
    & h2{
        font-family: $title-font;
        font-size: 18px;
        font-weight: 800;
        color: $neutral-color-1;
    }
    & h3{
        font-size: 13px;
        color:$neutral-color-4
    }
    &__cards-container{
        display: flex;
        margin: 0 9em;
        text-align: center;
        justify-content: center;
        @include mobile-only{
            flex-direction: column;
            margin: 0 1em 0em 1em;
            padding-bottom: 2em;
        }
    }
}