@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
@use "../base/typography" as *;

.nav-menu-responsive__hamburger,
.nav-menu-responsive{
    display: none;
}

.nav-menu{
    @include mobile-only{
        display: none;
    }
}

@include mobile-only{
    .nav-menu-responsive{
        background: $hamburger-menu;
        color: $neutral-color-3;
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        top: 80px;
        width: 75vw;
        height: 40vh;
        z-index :99;
        transform-origin: top right;
        transform : scale(0,0);
        transition: transform 0.5s ease-in-out;
        &--open{
            transform: none;
        }
        &__hamburger{
            display: flex;
        }
        & ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            position: absolute;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        &__items{
            margin: 0.8em 0;
            cursor: pointer;
        }   
    }

    .hero-banner{
        position: relative;
        overflow-x: hidden;
    }
    .header{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .nav-menu-responsive__hamburger{
        display: block;
        position: relative;
        z-index: 100;
        user-select: none;
        cursor: pointer;
    }

    .nav-menu-responsive__items--underline{
        &::after{
            content:"";
            display: block;
            border-bottom : solid 4px $neutral-color-3;
            width: 100%;
            transform: scaleX(0);
            transform-origin: right;
            transition : transform 0.25s;
        }
        &:hover{
            &::after{
                transform-origin: left;
                transform: scaleX(1);
            }
        }
    
        @keyframes underline {
            from{
                transform : scaleX(0);
            }
            to{
                transform: scaleX(1);
            }
        }
    }

    .nav-menu-responsive__items--hilighted{
        color: black;
        border: solid 4px $primary-color-2;
        padding: 1em 2em;
        border-radius: 2em;
        text-transform: uppercase;
        font-family: $title-font;
        font-weight: 800;
        background-color: $primary-color-2;
        font-size: 16px;
        transition: background-color 250ms ease-in-out;
        &:hover{
            background-color: transparent;
        }
    }

    .nav-menu-responsive::before{
        content: "";
        position: absolute;
        top: -30px;
        right: 0;
        height: 0px;
        width: 0px;
        border-style: solid;
        border-width: 30px 30px 0 0;
        border-color: transparent $hamburger-menu transparent transparent;
    }

}
