@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

$title-font : 'Fraunces', serif;
$body-font : 'Barlow', sans-serif;
$body-size : 18px;